@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Dosis", "Roboto Slab", "Signika", sans-serif;
  }
}

::-webkit-scrollbar {
  width: 13px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #747474;
  /* Color of the scrollbar thumb on hover */
}

@layer components {
  .contactInput {
    @apply outline-none rounded-xl border px-6 py-4 border-[#242424] text-gray-500 placeholder-gray-500 transition-all;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  margin: auto auto;
}

.loading-icon {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}